
.nav-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    /* height: 10vh; */
    padding:1rem 3rem;
    color: rgb(17,24,39);
    flex-wrap: wrap;
    position: sticky;
    z-index:200px;
    background-color:white;
    box-shadow:0px 1px 1px rgba(0,0,0, 0.2);
    border-radius:5px;
    top:0;
    left:0;
    z-index: 20;
}

.logo{
    display:flex;
    justify-content: space-evenly;
    gap:5px;
}


.pages{
    display:flex;
    gap:15px;
    font-size:large;
    font-weight: bold;
    list-style: none;
}

.active{
    color:rgb(37,99,235);
}

.pages span:hover{
    color: rgb(37,99,235);
}

.btn{
    background-color:rgb(37,99,235);
    color:white;
    border-radius:8px;
    padding:0.7rem 1rem;
    border:none;

}